<%- include('partials/header') %>

<main>
    <h1>CATEGORIES</h1>
    <p>Browse the categories of our service projects:</p>

    <ul>
        <% categories.forEach(category => { %>
            <li>
                <strong>
                    <a href="/category/<%= category.category_id %>">
                        <%= category.name %>
                    </a>
                </strong>
            </li>
        <% }) %>
    </ul>
</main>

<%- include('partials/footer') %>