<%- include('partials/header') %>

<main>
    <h1>CATEGORIES</h1>
    <p>Browse the categories of our service projects:</p>

    <ul>
        <% categories.forEach(category => { %>
            <li>
                <strong><%= category.name %></strong>
            </li>
        <% }) %>
    </ul>
</main>

<%- include('partials/footer') %>